.rival-container{
  display: grid;
  grid-template-columns: [city]8em [rivals]6em [price]8em [minPice]8em [oldPrice]8em [action]4em;
  grid-template-rows: auto;
  align-items: center;
  width: auto;
  padding: 0.1em 0;
  &.show{
    background: #000000;
  }
  &:hover{
    background: #f1f1f1;
    cursor: pointer;
    label, & input{
      color: darkgreen;
    }
  }
  .group-currency{
    input{
      border: none;
      max-width: 78%;
      background: none;
    }
  }
  button {
    border: none;
    background: none;
  }
}

.config-header{
  display: grid;
  grid-template-columns: [poinName]6em [available]8em [preOrder]8em [action]4em;
  grid-template-rows: auto;
  padding: 0.5em 0 0.2em 0;
}
.config-container{
  padding-left: 8em;
}
