<form action="" [formGroup]="rivalForm" [class]="opened ? 'rival-container open': 'rival-container'"
      (ngSubmit)="submitForm()">
  <div (click)="switchRivals(!opened)">{{rival.city.name}}</div>
  <div>
    <div *ngIf="seller$|async as seller">
      <div (click)="showModal()" *ngIf="getPosition(seller.sysId) as position"
           [style.color]="position > 0 ? 'green':''">{{position > 0 ? position : '#'}} место
      </div>
    </div>
    <p-dialog header="Продавцы" [resizable]="true" [modal]="true" [maximizable]="true" appendTo="body"
              [(visible)]="modalOpened" [style]="{width: '75vw'}" [contentStyle]="{height: '60vh'}">
      <p-table [value]="rival.rivalSeller.offers" [scrollable]="true" scrollHeight="flex"
               [tableStyle]="{'min-width': '50rem'}">
        <ng-template pTemplate="header">
          <tr>
            <th>Магазин</th>
            <th>Город</th>
            <th>Цена</th>
            <th>Предзаказ</th>
            <th>Рейтинг</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-offer>
          <tr>
            <td *ngIf="seller$|async as seller else err"
                [style.color]="seller?.sysId === offer?.merchantId ? 'green': ''">{{offer.merchantName}}</td>
            <td>{{getCityName(offer.locatedInCity || offer.kdDestinationCity || '')}}</td>
            <td>{{offer.price|currency: '₸'}}</td>
            <td>{{offer.preorder}}</td>
            <td>{{offer.merchantRating}}</td>
          </tr>
          <ng-template #err>
            <td>{{offer.merchantName}}?</td>
          </ng-template>
        </ng-template>
      </p-table>
      <ng-template pTemplate="footer">
        <div>{{rival.updated|date:'d MMMM HH:mm:ss':'+0600':'ru'}}</div>
        <button type="button" pButton pRipple icon="pi pi-times" (click)="modalOpened=false" label="Закрыть"
                class="p-button-text"></button>
      </ng-template>
    </p-dialog>
  </div>
  <ng-container *ngIf="priceEdited else priceViewContainer">
    <div class="group-currency">
      <label for="minPrice">₸</label>
      <input type="number" step="100" formControlName="price" id="minPrice" min="1">
    </div>
  </ng-container>
  <ng-container *ngIf="minPriceEdited else minPriceViewContainer">
    <div class="group-currency">
      <label for="price">₸</label>
      <input type="number" step="100" formControlName="minPrice" id="price" min="0">
    </div>
  </ng-container>
  <div>
    {{rival.oldPrice|currency:'₸'}}
  </div>
  <div>
    <button type="submit" *ngIf="showSaveBtn && rivalForm.valid">✅</button>
  </div>
</form>

<div *ngIf="opened" class="config-container">
  <div>
    <ng-container *ngTemplateOutlet="configHeader"></ng-container>
    <div *ngFor="let config of rival.pointConfigs">
      <app-config [config]="config"></app-config>
    </div>
  </div>
</div>

<ng-template #configHeader>
  <div class="config-header">
    <div>Точка</div>
    <div>Наличие</div>
    <div>Предзаказ</div>
  </div>
</ng-template>

<ng-template #minPriceViewContainer>
  <div (click)="editMinPrice()">{{rival.minPrice|currency:'₸'}}</div>
</ng-template>

<ng-template #priceViewContainer>
  <div (click)="editPrice()">{{rival.price|currency:'₸'}}</div>
</ng-template>
