.seller-id-container{
  display: grid;
  grid-template-columns: 10em[shopName] 8em[rivalSt] 6em[preOrderSt] 6em[promotionSt] 6em[demotionSt] 2.4em[action];
  grid-template-rows: auto;
  align-items: center;
  & > *{
    margin-top: 0.2em;
  }
  .p-button{
    height: 2.2em;
    width: 2.2em;
    margin-bottom: 0.2em;
  }
}
