<form class="seller-id-container" [formGroup]="sellerForm" (ngSubmit)="submitForm()">
  <div (click)="switchToSeller()">{{seller.username}}</div>
  <div>
    <p-inputSwitch name="rivalStatus" formControlName="rivalStatus"/>
  </div>
  <div>
    <p-inputSwitch name="preOrderStatus" formControlName="preOrderStatus"/>
  </div>
  <div>
    <p-inputSwitch name="promotion" formControlName="promotion"/>
  </div>
  <div>
    <p-inputSwitch name="demotion" formControlName="demotion"
    />
  </div>
  <div>
    <button pButton icon="pi pi-check" class="p-button-sm p-button-success p-button-rounded p-button-text" *ngIf="edited && sellerForm.valid" type="submit"></button>
    <button pButton icon="pi pi-times" class="p-button-small p-button-rounded p-button-danger p-button-text" disabled *ngIf="!authService.user.activated"></button>
  </div>
</form>
