<button (click)="modeChange()">Изменить режим</button>

<div class="auth-container">
  <form *ngIf="loginMode" #signIn="ngForm">
    <h1>Вход в личный кабинет</h1>
    <input type="email" name="email" id="email" ngModel required placeholder="e@mail.kz">
    <input type="password" name="password" id="password" ngModel required placeholder="*Пароль1@">
    <button type="submit" [disabled]="signIn.invalid" (click)="onSignIn(signIn)">Войти</button>
  </form>

  <form *ngIf="!loginMode" #signUp="ngForm">
    <h1>Зарегистрироваться</h1>
    <input type="email" name="email" id="email_reg" placeholder="e1@mail.kz" required ngModel>
    <input type="password" name="password" id="password_reg" placeholder="*Пароль2@" required ngModel>
    <input type="tel" name="phone" id="phoneNumber" placeholder="+77058902548" required ngModel>
    <input type="text" name="name" id="name" placeholder="Батыр Адилет" required ngModel>
    <button type="submit" [disabled]="signUp.invalid" (click)="onSignUp(signUp)">Зарегистрироваться</button>
  </form>
</div>
