.auth-container {
  form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1.4em;
    span input{
      width: 14.4em;
    }
  }
}

.action-container{
  padding-top: 1em;
  text-align: right;
  &:hover{
    cursor: pointer;
  }
  a{
    text-decoration: underline #52bdff;
    color: rgb(52, 178, 255);
  }
}
