.config-container{
  display: grid;
  grid-template-columns: [poinName]6em [available]6em [preOrder]6em [action]4em;
  grid-template-rows: auto;
  align-items: center;
  padding: 0.1em 0;
  &:hover{
    background: #f1f1f1;
    cursor: pointer;
  }
  input[type="number"]{
    border: none;
    max-width: 60%;
    background: none;
  }
  button{
    border: none;
    background: none;
  }
}
