.rival-header-container{
  display: grid;
  grid-template-columns: [city]8em [rivals]6em [price]8em [minPice]8em [oldPrice]8em [action]4em;
  grid-template-rows: auto;
  padding-bottom: 0.2em;
}

.product-container{
  display: grid;
  grid-template-columns: [img]2em [sku]5em [brand]8em [name]32em;
  grid-template-rows: auto;
  align-items: center;
  padding: 0.1em 0;
  &:hover{
    background: #f1f1f1;
    cursor: pointer;
  }
  .name{
    max-width: 31em;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden
  }
}

.rival-container{
  padding-left: 7em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
