<div class="product-container" (click)="switchRivals(!opened)">
  <div (click)="openProduct()">
    <img [src]="product.image" style="width: 1em; height: 1em">
  </div>
  <div>{{product.sku}}</div>
  <div>{{product.brand}}</div>
  <div class="name">{{product.name}}</div>
</div>

<div *ngIf="opened" class="rival-container">
  <ng-container *ngTemplateOutlet="rivalHeader"></ng-container>
  <div *ngFor="let rivalConfig of product.rivalConfigs">
    <app-rival [rival]="rivalConfig"></app-rival>
  </div>
</div>

<ng-template #rivalHeader>
  <div class="rival-header-container">
    <div>Город</div>
    <div>Конкуренты</div>
    <div>Факт цена</div>
    <div>Мин цена</div>
    <div></div>
  </div>
</ng-template>
