.rival-header-container{
  display: grid;
  grid-template-columns: [city]6em [price]6em [minPice]6em [action]4em;
  grid-template-rows: auto;
  padding-bottom: 0.2em;
}

.product-container{
  display: grid;
  grid-template-columns: [img]2em [sku]5em [brand]8em [name]26em;
  grid-template-rows: auto;
  align-items: center;
  &:hover{
    background: #d1d5dc;
    color: #f7faff;
    cursor: pointer;
  }
  .name{
    max-width: 24em;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden
  }
}

.rival-container{
  padding-left: 2em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
