<p-toast></p-toast>
<div class="app-header">
  <ng-container *ngIf="(authService.status | async) else notAuthorizedUser">
    <div class="header">
      <a class="action" routerLink="/" >Главная</a>
      <a class="action" routerLink="sellers" routerLinkActive="active">Продавцы</a>
    </div>
    <div class="action logout">
      <a (click)="logout()">Выйти</a>
    </div>
  </ng-container>
  <ng-template #notAuthorizedUser>
    <div class="action">
      <a routerLink="/auth">Авторизация</a>
    </div>
  </ng-template>
</div>
<div class="content">
  <router-outlet></router-outlet>
</div>
