.seller-list-container{
  .seller-header-container{
    padding-bottom: 0.4em;
    display: grid;
    grid-template-columns: 8em[shopName] 6em[preOrderSt] 8em[rivalSt] 6em[promotionSt] 6em[demotionSt] 6em[action];
    grid-template-rows: auto;
  }
}
