<div class="seller-list-container">
  <div *ngIf="request$|async as response">
    <div class="activation-container" *ngIf="authService.user.activated else notActivated">
      <div>код для chrome extension <a
        href="https://chrome.google.com/webstore/detail/biy-standard/nplpolmjhoeefjnloladiknpdfobfdkn"
        target="_blank">Standard Biy</a></div>
      <div (click)="copyClipboard(authService.user.hash!)" class="code">{{authService.user.hash}}</div>
    </div>
    <div *ngIf="response.total>0 else noContent">
      <ng-container *ngTemplateOutlet="sellerHeader"></ng-container>
      <div *ngFor="let seller of response.list">
        <app-id [seller]="seller"></app-id>
      </div>
    </div>
    <div class="seller-add-controller">
      <div *ngIf="authService.user.accessed else notAccessed">
        <ng-container *ngTemplateOutlet="addSelectFormTemplate"/>
      </div>
    </div>
  </div>
</div>

<ng-template #addSelectFormTemplate>
  <form #addSellerForm="ngForm" *ngIf="addModeStream|async">
     <span class="p-float-label">
      <input pInputText type="email" name="email" autocomplete="off" id="email" placeholder="e1@mail.kz" required
             ngModel pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
      <label for="email">Почта магазина</label>
    </span>
    <span class="p-float-label">
        <p-password [toggleMask]="true" type="password" name="password" id="password" placeholder="*Пароль1@" required
                    ngModel/>
        <label for="password">Пароль</label>
    </span>
    <button pButton icon="pi pi-check"
            class="p-button-sm p-button-success p-button-rounded p-button-text p-button-raised"
            [disabled]="addSellerForm.invalid" (click)="addSeller(addSellerForm)"></button>
    <button type="button" pButton icon="pi pi-times"
            class="p-button-small p-button-rounded p-button-raised p-button-danger p-button-text"
            *ngIf="(addModeStream|async); let mode" (click)="changeMode(!mode)"></button>
  </form>
  <button type="button" pButton icon="pi pi-plus"
          class="p-button-secondary p-button-sm p-button-rounded p-button-text p-button-raised"
          *ngIf="!(addModeStream|async); let mode" (click)="changeMode(mode)"></button>
</ng-template>

<ng-template #sellerHeader>
  <div class="seller-header-container">
    <div>Магазин</div>
    <div>Конкурентность</div>
    <div>Предзаказ</div>
    <div>Поднятие</div>
    <div>Понижение</div>
    <div></div>
  </div>
</ng-template>

<ng-template #noContent>
  <div>
    <h1>Еще нет продавцов</h1>
  </div>
</ng-template>

<ng-template #notActivated>
  <div class="activation-container">
    <div>Обратитесь к <a href="https://t.me/sha_khan" target="_blank">администратору</a>, чтобы получить доступ ключу к
      <a href="https://chrome.google.com/webstore/detail/biy-standard/nplpolmjhoeefjnloladiknpdfobfdkn" target="_blank">Standard
        Biy</a>.
    </div>
  </div>
</ng-template>

<ng-template #notAccessed>
  <div>Обратитесь к <a href="https://t.me/sha_khan" target="_blank">администратору</a>, чтобы получить доступ добавлять
    новых продавцов.
  </div>
</ng-template>
