.seller-add-controller{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 1em;
  padding-top: 4em;
  form{
    display: flex;
    gap: 1em;
    flex-direction: row;
    align-items: center;
  }
}

.seller-list-container{
  &:hover{
    cursor: pointer;
  }
  .activation-container{
    padding-bottom: 1em;
    display: flex;
    gap: 1em;
    & > * {
      padding: 0.4em 0;
    }
    .code{
      padding-left: 0.4em;
      padding-right: 0.4em;
      background: #464646;
      color: #f7faff;
      border-radius: 10px;
      &:hover{
        cursor: pointer;
      }
    }
  }
  .seller-header-container{
    padding-bottom: 0.4em;
    display: grid;
    grid-template-columns: 10em[shopName] 8em[rivalSt] 6em[preOrderSt] 6em[promotionSt] 6em[demotionSt] 2.4em[action];
    grid-template-rows: auto;
    &:hover{
      cursor: pointer;
    }
  }
}
