<div class="seller-list-container">
  <div *ngIf="request$|async as response">
    <div *ngIf="response.total>0 else noContent">
      <ng-container *ngTemplateOutlet="sellerHeader"></ng-container>
      <div *ngFor="let seller of response.list">
        <app-id [seller]="seller"></app-id>
      </div>
    </div>
  </div>
</div>

<div>
  <ng-container *ngTemplateOutlet="addSelectFormTemplate"/>
</div>

<ng-template #addSelectFormTemplate>
  <button *ngIf="(addModeStream|async); let mode" (click)="changeMode(!mode)">Закрыть</button>
  <form #addSellerForm="ngForm" *ngIf="addModeStream|async; let mode">
    <input type="email" name="email" id="email" ngModel required email>
    <label for="email">Электронная почта магазина</label>
    <br>
    <input type="password" name="password" id="password" ngModel required>
    <label for="password">Пароль</label>
    <br>
    <button [disabled]="addSellerForm.invalid" (click)="addSeller(addSellerForm)">Добавить магазин</button>
  </form>
  <button *ngIf="!(addModeStream|async); let mode" (click)="changeMode(mode)">Добавить пользователя</button>
</ng-template>

<ng-template #sellerHeader>
  <div class="seller-header-container">
    <div>Магазин</div>
    <div>Предзаказ</div>
    <div>Конкурентность</div>
    <div>Поднятие</div>
    <div>Понижение</div>
    <div></div>
  </div>
</ng-template>

<ng-template #noContent>
  <div>
    <h1>Еще нет продавцов</h1>
  </div>
</ng-template>
