<div class="page-container">
  <div class="seller-view-container">
    <app-seller-id></app-seller-id>
  </div>

  <div class="products-view-container">
    <ng-container *ngIf="currentPageStream|async as currentPage">
      <div *ngIf="perPageStream|async as perPage" class="pagination-container">
        <div *ngIf="filterStream|async as filter" class="pagination-elements">
          <button pButton class="p-button-sm p-button-outlined p-button-warning" (click)="onCurrentPageUpdate(currentPage-1)">предыдущая страница</button>
          <div class="page">страница: {{currentPage}}</div>
          <div>
            <label for="perPage">по </label>
            <select name="perPage" id="perPage" #perPageSelect (change)="onPerPageUpdate(+perPageSelect.value)">
              <option *ngFor="let dPerPage of defaultPerPage" [selected]="dPerPage===perPage"
                      [value]="dPerPage">{{dPerPage}}</option>
            </select>
            <label for="perPage"> товаров</label>
<!--            <p-dropdown class="p-dropdown-sm" [options]="defaultPerPage"></p-dropdown>-->
          </div>
          <div>
            <label for="filterSelect">фильтр </label>
            <select name="" id="filterSelect" #filterSelect (change)="onFilterUpdate(filterSelect.value)">
              <option *ngFor="let dFilter of defaultFilter; let i=index" [selected]="dFilter===filter"
                      [value]="dFilter">{{defaultFilterString[i]}}</option>
            </select>
<!--            <p-dropdown class="p-dropdown-sm" [options]="defaultFilterString"></p-dropdown>-->
          </div>
          <button pButton class="p-button-sm p-button-outlined p-button-warning" (click)="onCurrentPageUpdate(currentPage+1)">следующая страница</button>
        </div>
      </div>
    </ng-container>
    <div *ngIf="requestProducts$|async as request">
      <div *ngIf="request.total>0 else noProduct">
        <div class="total-elem">всего товаров :: {{request.total}} штук</div>
        <ng-container *ngTemplateOutlet="productHeader"></ng-container>
        <div class="product-list-container">
          <div *ngFor="let product of request.list">
            <app-product-id [product]="product"></app-product-id>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<ng-template #productHeader>
  <div class="product-header-container">
    <div></div>
    <div>Артикул</div>
    <div>Бренд</div>
    <div>Название</div>
  </div>
</ng-template>

<ng-template #noProduct>
  <div>
    <h1>Нет товаров :(</h1>
  </div>
</ng-template>
