.page-container {
  display: flex;
  gap: 1em;
  align-items: flex-start;
  .seller-view-container {
    min-width: 12em;
    position: sticky;
    top: 4em;
  }
  .products-view-container {
    padding-bottom: 6em;
    .product-header-container {
      display: grid;
      grid-template-columns: [img]2em [sku]5em [brand]8em [name]32em;
      grid-template-rows: auto;
    }
    .total-elem {
      text-align: right;
    }
    .p-button{
      padding: 0.6em;
    }
    .product-list-container {
      padding-top: 0.5em;
    }
    .pagination-container {
      padding-bottom: 0.8em;
      .pagination-elements {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2em;
        select{
          border: none;
          border-bottom: 1px silver solid;
        }
      }
    }
  }
}
