<div *ngIf="currentPageStream|async as currentPage" class="pagination-container">
  <div *ngIf="perPageStream|async as perPage" class="pagination-elements">
    <div *ngIf="filterStream|async as filter">
      <div class="btn" (click)="onCurrentPageUpdate(currentPage-1)">предыдущая страница</div>
      <div class="page">страница: {{currentPage}}</div>
      <div>
        <label for="perPage">в каждой странице по </label>
        <select name="perPage" id="perPage" #perPageSelect (change)="onPerPageUpdate(+perPageSelect.value)">
          <option *ngFor="let dPerPage of defaultPerPage" [selected]="dPerPage===perPage"
                  [value]="dPerPage">{{dPerPage}}</option>
        </select>
        <label for="perPage"> товаров</label>
      </div>
      <div>
        <select name="" id="" #filterSelect (change)="onFilterUpdate(filterSelect.value)">
          <option *ngFor="let dFilter of defaultFilter; let i=index" [selected]="dFilter===filter"
                  [value]="dFilter">{{defaultFilterString[i]}}</option>
        </select>
      </div>
      <div class="btn" (click)="onCurrentPageUpdate(currentPage+1)">следующая страница</div>
    </div>
  </div>
</div>

<div *ngIf="requestProducts$|async as request">
  <div>всего товаров :: {{request.total}} штук</div>
  <div>
    <div *ngFor="let product of request.list">
      <app-product-id [product]="product"></app-product-id>
    </div>
  </div>
</div>
