.product-header-container{
  display: grid;
  grid-template-columns: [img]2em [sku]5em [brand]8em [name]26em;
  grid-template-rows: auto;
}

.product-list-container{
  padding-top: 0.5em;
}

.pagination-container{
  padding-bottom: 0.4em;
  .pagination-elements{
    display: flex;
    align-items: center;
    gap: 1em;
    .btn{
      background: #4191ff;
      padding: 0.4em;
      border-radius: 4px;
      color: #f7faff;
    }
  }
}
