<ng-container *ngIf="currentPageStream|async as currentPage" >
  <div *ngIf="perPageStream|async as perPage" class="pagination-container">
    <div *ngIf="filterStream|async as filter" class="pagination-elements">
      <div class="btn" (click)="onCurrentPageUpdate(currentPage-1)">предыдущая страница</div>
      <div class="page">страница: {{currentPage}}</div>
      <div>
        <label for="perPage">по </label>
        <select name="perPage" id="perPage" #perPageSelect (change)="onPerPageUpdate(+perPageSelect.value)">
          <option *ngFor="let dPerPage of defaultPerPage" [selected]="dPerPage===perPage"
                  [value]="dPerPage">{{dPerPage}}</option>
        </select>
        <label for="perPage"> товаров</label>
      </div>
      <div>
        <label for="filterSelect">фильтр</label>
        <select name="" id="filterSelect" #filterSelect (change)="onFilterUpdate(filterSelect.value)">
          <option *ngFor="let dFilter of defaultFilter; let i=index" [selected]="dFilter===filter"
                  [value]="dFilter">{{defaultFilterString[i]}}</option>
        </select>
      </div>
      <div class="btn" (click)="onCurrentPageUpdate(currentPage+1)">следующая страница</div>
    </div>
  </div>
</ng-container>

<div *ngIf="requestProducts$|async as request">
  <div>всего товаров :: {{request.total}} штук</div>
  <div>
    <ng-container *ngTemplateOutlet="productHeader"></ng-container>
    <div class="product-list-container">
      <div *ngFor="let product of request.list">
        <app-product-id [product]="product"></app-product-id>
      </div>
    </div>
  </div>
</div>

<ng-template #productHeader>
  <div class="product-header-container">
    <div></div>
    <div>Артикул</div>
    <div>Бренд</div>
    <div>Название</div>
  </div>
</ng-template>
