<form class="id-seller-container" [formGroup]="sellerForm">
  <div>
    <div>{{seller.id}}</div>
  </div>
  <div>
    <div>{{seller.username}}</div>
  </div>
  <div>
    <input class="toggle-button" type="checkbox" formControlName="preOrderStatus"/>
  </div>
  <div>
    <input class="toggle-button" type="checkbox" formControlName="rivalStatus"/>
  </div>
  <div>
    <input class="toggle-button" type="checkbox" formControlName="demotion"/>
  </div>
  <div>
    <input class="toggle-button" type="checkbox" formControlName="promotion"/>
  </div>
  <div>
    <div>{{seller.count.activeCount}}</div>
  </div>
  <div>
    <div>{{seller.cities.length}}</div>
  </div>
  <div>
    <div>{{seller.points.length}}</div>
  </div>
</form>
